<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="margin-top: 5px; margin-left: 10px;" href="/">Home</a>
      <div class="container-fluid">
        <div class="navbar navbar-dark bg-dark">
            
        <!-- This should either not be here og hidden depending on auth-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/student_statistic">My Statistics</a>
            </li>
        </ul>

        <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">TAMOS test</a>
            </li>
        </ul> -->
        

          <ul class="navbar-nav"  id="logout">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
          
  
        </div>
        