name: Deploy Mongo changes
on:
  push:
    branches:
      - main
      - FM-18
    paths:
      - "./sql/**.sql"
      - "./mongo/**"
jobs:
  deploy-mongo-atlas:
    runs-on: ubuntu-latest
    environment: staging
    env:
      host: ${{ secrets.DO_DB_HOST}}
      port: ${{ secrets.DO_DB_PORT}}
      secret: ${{ secrets.DO_DB_SECRET}}
      user: ${{ secrets.DO_DB_USER}}
      database: rollcall_db
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Create env file
        run: |
          touch .env
          echo DB_HOST=${{ secrets.DO_DB_HOST }} >> .env
          echo DB_USER=${{ secrets.DO_DB_USER }} >> .env
          echo DB_SECRET=${{ secrets.DO_DB_SECRET }} >> .env
          echo MYSQLDB_DATABASE=${{ secrets.DO_DB_NAME }} >> .env
          echo MYSQLDB_LOCAL_PORT=${{ secrets.DO_DB_PORT }} >> .env
          echo MDB_CONNECTION=${{ secrets.AT_MDB_CONNECTION }} >> .env
          cat .env
      - name: Install dependencies
        run: echo true
      - name: Migrate data from staging mysql to staging mongo
        run: echo true
